html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.header {
	height: 20%;
	width: 100%;
	background-color: #444444;
	clear: both;
}

.left {
	height: 80%;
	width: 15%;
	background-color: #E7ECEE;
	float: left;
}

.container {
	height: 80%;
	width: 70%;
	float: left;
}

.middle {
	height: 90%;
	width: 100%;
	background-color: #D8D8D8;
}

.footer {
	height: 10%;
	width: 100%;
	background-color: #444444;
}

.right {
	height: 80%;
	width: 15%;
	background-color: #E7ECEE;
	float: right;
}